h1 {
    background-color: #640057;
    color: white;
    padding: 16px;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid black;

    }

h2 {
    color: rgb(8, 4, 255);
    text-align: center;
}

h3 {
    background-color: #000000;
    color: white;
    padding: 16px;
    text-align: center;
}
